@font-face {
    font-family: 'Stonehenge';
    src: url('stonehen.eot');
    src: url('stonehen.eot?#iefix') format('embedded-opentype'),
         url('stonehen.woff2') format('woff2'),
         url('stonehen.woff') format('woff'),
         url('stonehen.ttf') format('truetype'),
         url('stonehen.svg#stonehengeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}